resources/data/tmp/*
resources/data/parquet/*
solucion
venv
.idea/
resources/data/csv/movies.csv
resources/data/csv/ratings.csv
resources/data/csv/tags.csv
tmp

ejercicios/pySpark/.ipynb_checkpoints/
ejercicios/Spark/.ipynb_checkpoints/
notebooks/Spark/.ipynb_checkpoints/
notebooks/pySpark/.ipynb_checkpoints/

run.cmd